@{
    ViewData["Title"] = "AboutUs";
}

<style>
    #contact {
        margin-right: 200px;
        margin-top: 50px;
    }

    .form-group {
        color: red;
        font-weight: bold;
    }

    h1 {
        padding: 70px;
        padding-bottom: 13px;
        padding-top: 13px;
        background-color: #BA2424;
        border: 20px solid #E5D3B3;
        border-radius: 5px;
        color: white;
        text-align: center;
        margin: 0px;
    }
</style>

<h1>About Us</h1>

<div class="row">
    <br> <br />
    <br />
       <div class="container col-lg-6" style="text-align:center">
       <br />
       <p class="font-weight-bold" style="color:red; font-size:50px;">Who We Are? </p>
       <p>
        We are a group composed of a non-government orgnaization (NGO) and a marketing company that empower thirty-one (31)
        community-based marginal producer groups located in eleven provinces. The said groups employ a total of around nine-hundred (900) artisans.
       </p>
       <p>
        Our NGO supports our partners with capacity-building activities covering a range of organizational and entrepreneurial matters.
        It also offers Business Development Services through trainings and mentorships to improve their enterprise.
        </p>
       <p>
        On the other hand, the products produced by these communities are marked and traded both locally and internationally.
       </p>
       </div>
    <div class="container col-lg-6">
        <br /><br /><br />
        <img src="https://www.fairtradeconnection.org/wp-content/uploads/2016/08/Artisan-CCAP.jpg" height="350" width="500" />
    </div>
    </div>

<br />
<br />
<img src="~/lib/CCap.png" />
