
@{
    ViewData["Title"] = "AssessmentReg";
}

<style>

    h1 {
        padding: 70px;
        padding-bottom: 13px;
        padding-top: 13px;
        background-color: #BA2424;
        border: 20px solid #E5D3B3;
        border-radius: 5px;
        color: white;
        text-align: center;
        margin: 0px;
    }

    h2 {
        text-align: center;
        padding: 70px;
        padding-bottom: 13px;
        padding-top: 13px;
    }

    h3 {
        text-align: center;
        padding: 50px;
    }

    p {
        text-align: justify;
    }

    a {
        text-decoration: underline;
        text-decoration-color: #BA2424;
        color: #BA2424;
    }

    #agreeTC {
        padding-left: 75px;
    }

    #fillUp {
        padding-left: 50px;
    }

    #artisanInfo {
        padding-left: 400px;
        padding-right: 400px;
    }

    #artlbl1, #artlbl2, #artlbl3 {
        color: #BA2424;
    }

    #page1next {
        background-color: #BA2424;
        border-radius: 12px;
        text-align: center;
        margin: auto;
        display: flex;
        display: grid;
    }
</style>

<h1>Result</h1>
<br />
<br />
<h2>Thank you for taking the assessment test!</h2>
<h2>Please wait for an email for the result!</h2>
<br />
<br />
<button type="button" class="btn btn-primary" id="page1next" asp-area="" asp-controller="Home" asp-action="Index"><a href="Index" style="color:white">Home</a></button>






