
@{
    ViewData["Title"] = "AssessmentReg";
}

<style>

    h1 {
        padding: 70px;
        padding-bottom: 13px;
        padding-top: 13px;
        background-color: #BA2424;
        border: 20px solid #E5D3B3;
        border-radius: 5px;
        color: white;
        text-align: center;
        margin: 0px;
    }

    h2 {
        text-align: center;
        padding: 70px;
        padding-bottom: 13px;
        padding-top: 13px;
    }

    h3 {
        text-align: center;
        padding: 50px;
    }

    p {
        text-align: justify;
        text-align: center;
    }

    a {
        text-decoration: underline;
        text-decoration-color: #BA2424;
        color: #BA2424;
    }

    #agreeTC {
        padding-left: 75px;
    }

    #fillUp {
        padding-left: 50px;
    }

    #artisanInfo {
        padding-left: 400px;
        padding-right: 400px;
    }

    #artlbl1, #artlbl2, #artlbl3 {
        color: #BA2424;
    }

    #page1next {
        background-color: #BA2424;
        border-radius: 12px;
        text-align: center;
        margin: auto;
        display: flex;
        display: grid;
    }

    #ig{
        color:  green;
    }
</style>

<h1>Initial Assessment Form</h1>
<br />
<br />
<div>
    <h2>Thank you for taking the assessment quiz!</h2>
    <p>Your initial grade is: <b id="ig">4.5</b></p>
    <p>Please click the link below to be redirected to the initial assessment form. Thank you!</p>
    <br />
    <center>
        <button type="button"  id="page1next" class="btn btn-link">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfokvgetoDgo_h0qOgoyz3lB4cYsDme2tuH59n8ZfgR1p-EoQ/viewform" target="_blank" style="color:white">Click here!</a>
        </button>
    </center>
</div>






